.graphic {
  width: 340px;
  height: 52px;
  opacity: 0.3;
  position: relative;
  bottom: 30px;

  .tempList {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
    margin: 2px 0 0 0;
    position: absolute;
    width: 100%;

    li {
      font-size: 8px;
    }

    li:first-child {
      left: 8px;
      top: 45px;
      position: relative;
    }

    li:nth-child(2) {
      left: 4px;
      top: 29px;
      position: relative;
    }

    li:nth-child(3) {
      left: 2px;
      top: 21px;
      position: relative;
    }

    li:nth-child(4) {
      left: -2px;
      top: 32px;
      position: relative;
    }

    li:nth-child(5) {
      left: -4px;
      top: 42px;
      position: relative;
    }

    li:nth-child(6) {
      left: -8px;
      top: 43px;
      position: relative;
    }

    li:last-child {
      left: -10px;
      top: 52px;
      position: relative;
    }
  }

  .week {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
    margin: 2px 0 0 0;

    li {
      font-size: 10px;
    }
  }
}

.redGraphic {
  path {
    fill: #ff715b;
  }
}

.blueGraphic {
  path {
    fill: #5ba8ff;
  }
}

@media screen and (max-width: 600px) {
  .graphic {
    width: 270px !important;
  }

  .tempList {
    li:first-child {
      top: 35px !important;
    }

    li:nth-child(2) {
      top: 19px !important;
    }

    li:nth-child(3) {
      top: 11px !important;
    }

    li:nth-child(4) {
      top: 22px !important;
    }

    li:nth-child(5) {
      top: 32px !important;
    }

    li:nth-child(6) {
      top: 33px !important;
    }

    li:last-child {
      top: 42px !important;
    }
  }
}
