.card {
  margin: 20px 0 40px 0;
  width: 350px;
  height: 257px;
  -webkit-box-shadow: -8px 7px 22px -6px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -8px 7px 22px -6px rgba(34, 60, 80, 0.2);
  box-shadow: -8px 7px 22px -6px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .removeCard {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #c5c5c5;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.5s ease;

    &:hover {
      color: #000000;
    }
  }

  &Top {
    margin-top: 10px;
  }

  &Top,
  &Bottom {
    display: flex;
    justify-content: space-between;
  }

  &Bottom {
    align-items: flex-end;
  }
}

@media screen and (max-width: 960px) {
  .card {
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 270px;
    margin-right: 0;
  }
}
