.card {
  margin: 20px 40px 40px 0;
  width: 350px;
  height: 257px;
  background: #fff1fe;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .removeCard {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #c5c5c5;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }

  .countryInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .country {
    font-weight: bold;
  }

  .date {
    font-size: 18px;
  }

  &Top {
    margin-top: 10px;
  }

  &Top,
  &Bottom {
    display: flex;
    justify-content: space-between;
  }

  &Bottom {
    align-items: flex-end;
  }

  .weatherIcon {
    color: #c5c5c5;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
      max-height: 70px;
    }
  }

  .graphic {
    width: 340px;
    height: 52px;
    opacity: 0.3;
    position: relative;
    bottom: 30px;
  }

  .temperatureWrapper {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .feels {
      color: #c5c5c5;
    }

    .temperature {
      font-size: 48px;
      font-weight: bold;
      margin-right: 10px;
    }

    .metric {
      font-weight: normal;
      position: relative;
      bottom: 24px;

      .celsius,
      .fahrenheit {
        cursor: pointer;
      }

      .celsius.active,
      .fahrenheit.active {
        color: rgb(15, 196, 15);
      }
    }
  }

  .weatherInfo {
    text-align: right;
    p {
      margin: 4px 0;

      .value {
        color: #459de9;
      }
    }
  }
}
