.container {
  max-width: 1920px;
  padding: 0 40px;
  box-sizing: border-box;
  margin: 0 auto;

  .text {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 0 10px;
  }
}